Repository noellch/here: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: npx oxlint {staged_files}

format:
  run: npx oxfmt {staged_files}
  stage_fixed: true

chore: add version management scripts and EAS auto-increment buildNumber
  app.json
  eas.json
  package.json
Due: format

feat: add auth flow (phone, OTP, profile setup) and main tab navigation
  src/app/(auth)/_layout.tsx
  src/app/(auth)/otp.tsx
  src/app/(auth)/phone.tsx
  src/app/(auth)/profile-setup.tsx
  src/app/(main)/(tabs)/_layout.tsx
  src/app/(main)/(tabs)/index.tsx
  src/app/(main)/(tabs)/waves.tsx
  src/app/(main)/_layout.tsx
  src/app/_layout.tsx
  src/app/index.tsx
  src/hooks/useAuth.ts
Due: lint, format

refactor: extract version scripts into standalone shell script
  package.json
  scripts/version.sh
Due: format

feat: add MapScreen with Mapbox, green light toggle, intent tags, and profile card
  src/app/(main)/(tabs)/index.tsx
  src/components/GreenLightToggle.tsx
  src/components/IntentTagPicker.tsx
  src/components/ProfileCard.tsx
  src/components/UserPin.tsx
  src/hooks/useLocation.ts
  src/hooks/useNearbyGreenLights.ts
Due: lint, format

fix: address review issues in MapScreen (error handling, Firestore types, tagText color)
  src/app/(main)/(tabs)/index.tsx
  src/components/ProfileCard.tsx
  src/hooks/useLocation.ts
Due: lint, format

feat: add Waves screen with incoming/outgoing tabs and wave accept flow
  src/app/(main)/(tabs)/waves.tsx
  src/components/WaveCard.tsx
  src/hooks/useWaves.ts
Due: lint, format

feat: add ChatScreen with real-time messages and 24h countdown
  src/app/(main)/chat.tsx
  src/hooks/useChat.ts
Due: lint, format

feat: add Cloud Functions (wave triggers, report handler, scheduled cleanup)
  functions/src/index.ts
  functions/src/scheduled/cleanup.ts
  functions/src/triggers/reports.ts
  functions/src/triggers/waves.ts
Due: lint, format

feat: add Settings screen with profile editing and logout
  src/app/(main)/settings.tsx
Due: lint, format

feat: add ReportModal and FeedbackPrompt components
  src/components/FeedbackPrompt.tsx
  src/components/ReportModal.tsx
Due: lint, format

feat: add push notification registration and deep link handling
  src/app/_layout.tsx
  src/hooks/useNotifications.ts
Due: lint, format

feat: add 3-page onboarding overlay for first-time users
  package-lock.json
  package.json
  src/app/(main)/(tabs)/index.tsx
  src/components/OnboardingOverlay.tsx
Due: lint, format

feat: add environment config with .env.example and centralized ENV constant
  .env.example
  src/app/(main)/(tabs)/index.tsx
  src/constants/env.ts
Due: lint, format

chore: configure Firebase emulators and connect in dev mode
  .firebaserc
  firebase.json
  src/services/firebase.ts
Due: lint, format

fix: add googleServicesFile path and update eas.json version source
  app.json
  eas.json
Due: format

fix: enable simulator build for development profile (no Apple Developer needed)
  eas.json
Due: format

fix: commit GoogleService-Info.plist for EAS builds (no secrets, only public config)
  .gitignore
  GoogleService-Info.plist
Due: none

fix: add .npmrc with legacy-peer-deps to resolve EAS build peer dependency conflict
  .npmrc
  lefthook.yml
  package-lock.json
Due: format

fix: add missing peer deps (expo-constants, expo-linking, react-native-worklets)
  package-lock.json
  package.json
Due: format

fix: use Mapbox Maps SDK 10.18.3 (compatible with @rnmapbox/maps 10.2.x)
  app.json
Due: format

fix: use Mapbox Maps SDK 11.15.2 (supported by @rnmapbox/maps 10.2.x)
  app.json
Due: format

fix: add forceStaticLinking for RNFB pods to resolve non-modular header errors
  app.json
Due: format

fix: add OAuth CLIENT_ID and REVERSED_CLIENT_ID for Firebase phone auth on iOS
  GoogleService-Info.plist
  app.json
  src/app/(auth)/phone.tsx
  src/services/auth.ts
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx}
  format: any of: *.{ts,tsx,json}
